/* * {
  border: 1px solid black;
} */

body {
  font-family: 'Open Sans';
  display: flex;
  height: 100vh;
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

/* **************ASIDE************** */

aside {
  background-color: #1F1F3D;
  width: 30%;
}


h3 {
  color: #E9E9F3;
  font-family: 'Open Sans';
  font-weight: bold;
  margin: 30px 25px 30px;
  font-size: x-large;
}


.aside-container {
  border-bottom: 2px solid #353567;
  border-top: 2px solid #353567;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


h4 {
  color: #BFBFDD;
  font-family: 'Open Sans';
  margin-left: 6%;
  padding: 10px 0 15px 0;
  font-size: larger;
}


.starred-ideas-btn {
  color: #E9E9F3;
  background-color: #5356A4;
  margin: 0px 15px 45px 15px;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: x-large;
  padding: 7px 0;
  border: 2px solid #353567;
  border-radius: 5px;
}


/* **************FORM************** */

main {
  width: 100%;
}


form {
  background-color: #A9AAD2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}


label {
  margin-right: 46%;
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 20px;
}


.title-text,
.body-text {
  width: 50%;
  height: 75px;
  border-radius: 5px;
  border: 2px solid #5356A4;
}


.body-text {
  height: 150px;
}


.save-idea-btn {
  background-color: #1F1F3D;
  color: #E9E9F3;
  width: 50%;
  height: 75px;
  border-radius: 5px;
  border: 2px solid #5356A4;
  font-weight: bold;
  font-size: x-large;
  font-family: 'Open Sans';
  margin: 25px;
}


.search-ideas {
  display:flex;
  background-color: #A9AAD2;
  border: 2px solid #5356A4;
  border-radius: 5px;
  width: 50%
}


.search-cards {
  width: -webkit-fill-available;
  height: 75px;
  font-size: x-large;
  font-family: 'Open Sans';
}


img {
  width: 50px;
  height: 31px;
  background: #1F1F3D;
  padding: 22px;
}


/* **************SAVED-CARDS-SECTION************** */
.saved-cards-grid {
  background-color: #EAEAF4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.saved-cards {

}


.idea-card-body {
  height: 150px;
  width: 150px;
  overflow: auto;

}

.favorite-delete {
  background-color: #1F1F3D;
  color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.idea-title-body {
  background-color: #FFFFFF;
  color: #1F1F3D;
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.comment-bar {
  background-color: #5356A4;
  padding: 20px
}
