/* * {
  border: 1px solid black;
} */

body {
  font-family: 'Open Sans';
  display: flex;
  height: 100vh;
  margin: 0;
}

h3 {
  color: #E9E9F3;
  font-family: 'Open Sans';
  font-weight: bold;
  margin: 6%;
}

.aside-container {
  border-bottom: 2px solid #353567;
  border-top: 2px solid #353567;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


h4 {
  color: #BFBFBD;
  font-family: 'Open Sans';
  margin-left: 6%;
}

aside {
  background-color: #1F1F3D;
  width: 19%;
}

.starred-ideas-btn {
  color: #E9E9F3;
  background-color: #5356A4;
  margin: 0px 15px 17px 15px;
  padding: 5px;
  font-size: 16px;
}

form {
  background-color: #A9AAD2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;

}

.title-text {
  margin-right: 8%;
}

label {
  margin-right: 7.5%;
}


main {
  width: 100%;
}

.search-cards {
  width: 405px;
  height: 75px;
  border-radius: 0 5px 5px 0;
}

.save-idea-btn {
  background-color: #1F1F3D;
  color: #E9E9F3;
  width: 500px;
  height: 75px;
  border-radius: 5px;
  font-weight: bold;
  font-size: x-large;
  font-family: 'Open Sans';
  margin: 25px;
}


.saved-cards {
  background-color: #EAEAF4;
}

.search-ideas {
    display:flex;
    background-color: #A9AAD2;

  }

img {
  width: 50px;
  height: 30px;
  background: #1F1F3D;
  padding: 22px;
  border-radius: 5px 0 0 5px;
}
